/*css reset*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start Typogrpahy */


/* End Typogrpahy */
/* Start Global */
/* End Global */
/* Start Main */
.log {
    margin-left: 20rem;
    margin-right: 3rem;
}

.logo {
    margin-left: 3rem;
}

.navbar-nav > li {
    
    padding-left: 30px;
    padding-right: 30px;
   
  }
  
  .navbar {
    
    align-items: center;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-brand {
    padding-top: 5px;
  }
  
/* End Main */